<div class="rest">
  <div class="announcement-container">
      <h2>Acerca de nosotros</h2>
      <p>En SISVITA, nos esforzamos por crear un entorno educativo que no solo sea más saludable sino también más productivo 
        para los estudiantes universitarios. Nuestra misión es identificar y gestionar eficazmente los niveles de ansiedad 
        que puedan afectar el rendimiento académico y la calidad de vida de los estudiantes. Somos una entidad profundamente 
        comprometida con la salud mental y el bienestar integral de la comunidad estudiantil, y nos dedicamos a ofrecer 
        soluciones innovadoras basadas en enfoques personalizados para cada individuo.</p>
      <p>Reconocemos que la vida universitaria puede ser increíblemente demandante y estresante, lo que a menudo puede 
        llevar a niveles elevados de ansiedad y estrés. Por eso, si eres un estudiante de la Universidad Nacional Mayor de 
        San Marcos (UNMSM) y sientes que tus niveles de ansiedad y estrés son elevados, te invitamos a comenzar con nuestro 
        test de identificación. Este test está diseñado para evaluar de manera precisa y detallada tus niveles de ansiedad, 
        ayudándonos a comprender mejor tus necesidades específicas.</p>
      <p>Si siente que sus niveles de ansiedad y estrés son altos, empiece nuestro test para identificarlos. 
        Si se encuentra en niveles altos, se le asignará un especialista para ayudar con sus problemas. 
        Para empezar, por favor inicie sesión.</p>
      <div class="image-container">
        <img width="200" alt="preview" src="./assets/image/anxiety.png" />
      </div>
      <div class="form-group">
          <button onclick="window.location.href='/escoger-rol'">Iniciar sesión</button>
      </div>
  </div>
</div>
