<div class="rest">
    <div class="right">
        <div class="form-container">
            <div class="form-group">
                <h2>Estudiante</h2>
                <button onclick="window.location.href='/login'">Ingresar</button>
            </div>
        </div>
        <div class="form-container">
            <div class="form-group">
                <h2>Especialista</h2>
                <button onclick="window.location.href='/login2'">Ingresar</button>
            </div>
        </div>
    </div>
</div>