<router-outlet>
    <app-navbar-simple></app-navbar-simple>
</router-outlet>
<div class="rest">
    <div class="announcement-container">
        <h2>Acerca de nosotros</h2>
        <p>Si necesita una consulta personalizada con un especialista en salud mental, le recomendamos hacer clic en el 
            botón 'Llamar a especialista' para recibir asesoramiento profesional y atención individualizada.</p>
        <p>En caso de que quiera evaluar sus niveles actuales de ansiedad y obtener una mejor comprensión de su estado 
            emocional, le sugerimos hacer clic en el botón 'Realizar Test de Ansiedad'. Esto le permitirá acceder a un 
            test detallado que le proporcionará una evaluación precisa de sus niveles de ansiedad</p>
      
      <div class="form-group">
          <button onclick="window.location.href='/guia-test'">Empezar test</button>
      </div>
      <div class="form-group">
        <button onclick="window.location.href='/resultados'">Ver resultados</button>
    </div>
  </div>
</div>
