<router-outlet>
    <app-navbar-simple></app-navbar-simple>
  </router-outlet>
<div class="rest">
    <div class="announcement-container">
        <h3>El siguiente test “Escala de Ansiedad” nos ayudará a identificar su nivel de ansiedad, deberá responder todas las preguntas y en base a ello, se le indicará si necesita ayuda profesional o no.</h3>
        <p>Ausente - 0</p>
        <p>Leve - 1</p>
        <p>Moderado - 2</p>
        <p>Grave - 3</p>
        <p>Muy grave/Incapacitante - 4</p>
        <div class="form-group">
            <button onclick="window.location.href='/test-ansiedad'">Empezar Test.</button>
        </div>
    </div>
</div>
  